p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}

p {
  color: #757575;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
}

address {
  font-style: normal;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 1200px) {
  .section1 {
    display: none;
  }
}

.section2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.section3 {
  background-color: #F5F4FA;
}

.section-navigation {
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer-container__adresa {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-container__mailfooter {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.main-menu__email {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-menu__email:hover {
  color: #2196F3;
  fill: #2196F3;
}
.main-menu__email:focus {
  color: #2196F3;
  fill: #2196F3;
}

.main-menu__phone {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-menu__phone:hover {
  color: #2196F3;
  fill: #2196F3;
}
.main-menu__phone:focus {
  color: #2196F3;
  fill: #2196F3;
}

.div-hidden {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  bottom: 450px;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
}

.div-hidden.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.menu {
  padding: 40px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  z-index: 1;
}
.menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.main-menu {
  display: flex;
  align-items: center;
}

.menu-link1 {
  color: #2196F3;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 27px;
  border-radius: 2px;
}
.menu-link1:hover {
  color: #2196F3;
  padding-bottom: 27px;
}

.menu-link2 {
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 35px;
}
.menu-link2:hover {
  color: #2196F3;
  padding-bottom: 27px;
}
.menu-link2:focus {
  color: #2196F3;
  padding-bottom: 27px;
}

.menu-container__contact {
  margin-left: auto;
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .menu-container__contact {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container__contact {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
}

.menu-container__icon:nth-child(1) {
  margin-bottom: 20px;
}

.menu-container__email {
  font-weight: 500;
  font-size: 24px;
  color: #757575;
}

.menu-container__phone {
  font-weight: 500;
  font-size: 34px;
  color: #2196F3;
}

.menu-li:nth-last-child(n+2) {
  margin-bottom: 35px;
}

.ul-link-menu {
  display: flex;
  text-align: left;
  gap: 20px;
}

.li-soc-link {
  position: relative;
}
.li-soc-link::after {
  position: absolute;
  content: "";
  height: 22px;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.menu-link {
  color: #2196F3;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #2196F3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: flex;
}

.logo2 {
  color: #000000;
}

.footer-container__logo3 {
  font-family: "Raleway", sans-serif;
  color: #2196F3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
}

.logo4 {
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .footer-container__logo3 {
    display: flex;
  }
}

.header {
  border-bottom: 2px solid #EEEEEE;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-sss {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.header {
  border-bottom: 2px solid #EEEEEE;
  padding-top: 24px;
  padding-bottom: 25px;
}

.main-menu {
  display: flex;
  align-items: center;
  margin-left: 90px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .main-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main-menu__contact {
    display: block;
    align-items: center;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .main-menu__contact {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .main-menu__icon:nth-child(1) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .main-menu__icon:nth-child(1) {
    margin-bottom: 0px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-link1 {
  color: #2196F3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 4px solid #2196F3;
  padding-bottom: 27px;
  border-radius: 2px;
}
.nav-link1:hover {
  color: #2196F3;
  border-bottom: 4px solid #2196F3;
  padding-bottom: 27px;
  border-radius: 2px;
}

.nav-link2 {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link2:hover {
  color: #2196F3;
  border-bottom: 4px solid #2196F3;
  padding-bottom: 27px;
  border-radius: 2px;
}
.nav-link2:focus {
  color: #2196F3;
  border-bottom: 4px solid #2196F3;
  padding-bottom: 27px;
  border-radius: 2px;
}

.header-container__phoneicon {
  margin-right: 10px;
}

.maintext {
  margin: 0 auto;
  width: 100%;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 30px;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .maintext {
    text-align: center;
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 768px) {
  .maintext {
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1200px) {
  .maintext {
    text-align: center;
    font-weight: 900;
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.mainsection {
  background: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mainimages/main-mob.png);
  max-width: 1600px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .mainsection {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/img2x/back-mob2x-min.jpg);
  }
}
@media screen and (min-width: 768px) {
  .mainsection {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mainimages/main-tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .mainsection {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/img2x/back-tab2x-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .mainsection {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mainimages/mainimage.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .mainsection {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/img2x/back-des2x-min.jpg);
  }
}

.osobl__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.osobl__li {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .osobl__li {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .osobl__li {
    width: calc((100% - 90px) / 4);
  }
}

.osobl__icon {
  background-color: #F5F4FA;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px;
}

.team-icons1 {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.osobl__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.osobl-p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.about__box {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.about__name {
  width: 100%;
  height: 70px;
  top: -70px;
  text-align: center;
  padding-top: 27px;
  position: relative;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.719);
}

.team {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 54px;
}

.teams {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.team-name {
  background-color: #EEEEEE;
}
@media screen and (min-width: 768px) {
  .team-name {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-name {
    width: calc((100% - 90px) / 4);
  }
}

.teamss {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-container__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-container__working {
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.team-container__icon {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.team-container__icons {
  width: 44px;
  height: 44px;
}

.team-container__link {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-container__link:hover {
  background-color: #2196F3;
}
.team-container__link:hover .team-icons1 {
  fill: #FFFFFF;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-container__link:focus {
  background-color: #2196F3;
}
.team-container__link:focus .team-icons1 {
  fill: #FFFFFF;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-container__icon {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client-container__icon1 {
  width: calc((100% - 30px) / 2);
  height: 90px;
}
@media screen and (min-width: 768px) {
  .client-container__icon1 {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-container__icon1 {
    width: calc((100% - 150px) / 6);
  }
}

.client-container__link {
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-container__link:hover {
  background-color: #FFFFFF;
  border-color: #2196F3;
}
.client-container__link:hover .client-container__icons {
  fill: #2196F3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-container__link:focus {
  background-color: #FFFFFF;
  border-color: #2196F3;
}
.client-container__link:focus .client-container__icons {
  fill: #2196F3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-container__icons {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2F303A;
}

.footer-items {
  width: 100%;
  text-align: center;
  margin-left: auto;
  align-items: baseline;
}
@media screen and (min-width: 1200px) {
  .footer-items {
    display: flex;
  }
}

.div-input-footer {
  margin-left: auto;
}

@media screen and (min-width: 468px) {
  .footer-conticons {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-conticons {
    margin-bottom: 0;
  }
}

.footer-tablet {
  text-align: left;
  align-items: baseline;
}
@media screen and (max-width: 1200px) {
  .footer-tablet {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    justify-content: center;
    gap: 84px;
  }
}

@media screen and (max-width: 768px) {
  .footer-container {
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    text-align: left;
  }
}

.footer-container__li:nth-last-child(n+2) {
  margin-bottom: 9px;
}

.footer-conticons__link {
  align-items: baseline;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.icons-f {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-conticons__icon {
  width: 44px;
  height: 44px;
}

.footer-conticons__soclink {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-conticons__soclink:hover {
  background-color: #2196F3;
}
.footer-conticons__soclink:hover .footer-conticons__icons {
  fill: #FFFFFF;
}
.footer-conticons__soclink:focus {
  background-color: #2196F3;
}
.footer-conticons__soclink:focus .footer-conticons__icons {
  fill: #FFFFFF;
}

.footer-conticons__icons {
  fill: #FFFFFF;
}

@media screen and (min-width: 400px) {
  .footer-inp {
    display: block;
    justify-content: center;
    text-align: center;
  }
}

.footer-inp__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: none;
  background-color: transparent;
  border: 1px solid #757575;
  border-radius: 4px;
  color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
  .footer-inp__input {
    margin-bottom: 20px;
  }
}

.footer-icons-in {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .div-footer-in {
    display: flex;
    justify-content: center;
  }
}

.model {
  position: absolute;
  background-color: #FFFFFF;
  left: 536px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 480px) {
  .model {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .model {
    width: 528px;
    min-height: 581px;
  }
}

.icon-close {
  display: flex;
  justify-content: center;
}

.model-p {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin-bottom: 12px;
}

.div-model {
  margin-bottom: 12px;
  position: relative;
}

.label-input span {
  display: block;
  margin-bottom: 5px;
}

.item-label-text {
  font-size: 12px;
  color: #757575;
}

.model-input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.3411764706);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-input:focus {
  border-color: #2196F3;
}
.model-input:focus + .icon-user {
  fill: #2196F3;
}

.icon-user {
  position: absolute;
  left: 12px;
  margin-bottom: 10px;
  top: 60%;
  transform: translateY(-30%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modelcomments {
  width: 100%;
  height: 120px;
  border-radius: 5px;
  padding-left: 16px;
  padding-top: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.3490196078);
  outline: transparent;
  resize: none;
}
.modelcomments:focus {
  border-color: #2196F3;
}
.modelcomments::-moz-placeholder {
  font-size: 13px;
  color: #757575;
}
.modelcomments:-ms-input-placeholder {
  font-size: 13px;
  color: #757575;
}
.modelcomments::placeholder {
  font-size: 13px;
  color: #757575;
}

.checkbox-div {
  position: relative;
  margin-bottom: 30px;
}

.checkbox-label {
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .checkbox-label {
    padding-left: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox-label {
    padding-left: 38px;
    font-size: 14px;
  }
}
.checkbox-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .checkbox-label::before {
    margin-left: 10px;
  }
}
.checkbox-label::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url(../img/mainimages/Apply.svg) no-repeat;
  background-size: 11px 11px;
  position: absolute;
  top: 2px;
  left: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .checkbox-label::after {
    margin-left: 10px;
  }
}

.dogovir {
  color: #2196F3;
  border-bottom: 1px solid #2196F3;
}

.text-model {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.checkbox-input-modal:checked + .checkbox-label::before {
  background-color: #2196F3;
  border-color: #2196F3;
}

.checkbox-input-modal:checked + .checkbox-label::after {
  opacity: 1;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  margin: 0 auto;
  display: block;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 5px;
}

.footer-inp__btn {
  display: block;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2196F3;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (min-width: 400px) {
  .footer-inp__btn {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-inp__btn {
    margin-left: 12px;
  }
}

.btn-model {
  margin: 0 auto;
  display: block;
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #2196F3;
  color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-model:hover {
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 100%;
  border: 1px solid #AFB1B8;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.btn-close:hover {
  background-color: #2196F3;
  fill: #FFFFFF;
}
.btn-close:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  margin-left: auto;
  margin-top: 10px;
  background: transparent;
  border-radius: 100%;
  border: 1px solid #AFB1B8;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.menu-close:hover {
  background-color: #2196F3;
  fill: #FFFFFF;
}
.menu-close:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.menu-open {
  display: block;
  margin-left: auto;
  background: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.div-navig {
  width: 100%;
}

.navigation-list {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
  margin-bottom: 50px;
}

.navigation {
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation:hover {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.navigation:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.content-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.content-img:hover .text-up {
  transform: translateY(0);
}

.link-container:hover {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-container:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-container:focus .text-up {
  display: block;
  transform: translateY(0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-up {
  position: absolute;
  top: 0;
  padding: 45px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 100%;
  width: 100%;
}

.text-uping {
  position: relative;
  overflow: hidden;
}

.project {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
}

.projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.projects-name {
  line-height: 1.8;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */