.content-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    // @media screen and (min-width: 480px) {
    //     display: flex;
    //     justify-content: center;
    // }
}
// .content-img {
//     @media screen and (min-width: 768px) {
//         width: calc((100% - 30px) / 2);
//     }
//     @media screen and (min-width: 1200px) {
//         width: calc((100% - 60px) / 3);
//     }
// }
.content-img:hover .text-up {
    transform: translateY(0);
}
.link-container:hover {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-container:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-container:focus .text-up {
    display: block;
    transform: translateY(0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
